<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Spring Boot + JPA + Datatables</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"/>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="/js/create.js"></script>
</head>

<body>
    <h1>Create new employeeEntity</h1>
    <a th:href="@{/employees}">Back to Employee List</a>
    <div id="feedback" style="color: green"></div>

    <form class="form-horizontal" id="create-form">
        <div class="form-group form-group-lg">
            <label class="col-sm-2 control-label">Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="name"/>
            </div>
        </div>

        <div class="form-group form-group-lg">
            <label class="col-sm-2 control-label">Last Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="lastName"/>
            </div>
        </div>

        <div class="form-group form-group-lg">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="email"/>
            </div>
        </div>

        <div class="form-group form-group-lg">
            <label class="col-sm-2 control-label">Phone</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="phone"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <label><input type="radio" name="active" value="active" checked="checked"/> Active</label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <label><input type="radio" name="active" value="inactive"/> Inactive</label>
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" id="bth-create"
                        class="btn btn-primary btn-lg">Create
                </button>
            </div>
        </div>


    </form>
</body>
</html>